:root{
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .hero{
    /* background: #9e74dd; */
    background-image: url(/img/bghero.png);
    background-size: cover;
    background-position: center;
    height: 110vh;
  }
  .hero p, h1,h3{
    color: white;
  }
  body{
    height: 100vh;
  }
  
  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(43, 20, 66) !important;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(100px);
    text-shadow: var(--shadow);
    opacity: 0.7;
  }
  .logo{
    font-size: 35px;
    color:rgb(207, 110, 207);
    text-decoration: none;
    font-weight: 600;
    margin-top: 40%;
    opacity: 130%;
  }
  
  div .image{
    margin-right: auto;
    margin-left: 100px;
  }
   
  .navbar a{
    font-size: 23px;
    text-decoration: none;
    color: #ededed;
    font-weight: 500;
    margin-left: 35px;
    font-family:Arial, Helvetica, sans-serif ;
    opacity: 130%;
  }
  
  .navbar a:hover{
    color: rgb(207, 110, 207);
    font-weight: bold;
    font-size: 24px;
    transition: all .3s ease-in-out;
    opacity: 130%;
  }
.Home {
    height: 100%;
    display: flex;
    width: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .Home .home-content{
    padding: 40px;
    background-color: #ededed;
    height: 100%;
    width: 100%;
  }
  .home-content h1{
    font-size: 3rem;
    font-weight: 700;
    color: #3F2182;
    font-family: Mate;
    padding-top: 70px;
    text-align: start;
  }
  .Home .tb1{
    border: 3px solid #71b7e6; 
    width: 260px; 
    margin-top: 0px; 
    margin-bottom: 20px;
  }
  .form-control,
  .form-select,
  .input-group-text{
    font-size: 1.2rem;
  }
  .btn-box a,
  .navbar .btn-box a,
  a button,
  .btn-box{
    display: inline-flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: plum;
    border: 3px solid rgb(63, 34, 92);
    border-radius: 8px;
    font-size: 19px;
    color: #3F2182;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 3px;
    animation-delay: 0.3s;
  }
  .btn-box a:hover,
  .navbar .btn-box a:hover,
  a button:hover,
  .btn-box:hover{
  background: #3F2182;
  color: plum;
  width: 170px;
  border: 3px solid rgb(186, 154, 216);
  }

  .footer{
    background-color: plum;
  }
  
  .footer h5{
    color: #3F2182;
    font-size: 1.5rem;
  }